* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(https://wallpapershome.com/images/wallpapers/polygon-1280x720-4k-hd-wallpaper-android-wallpaper-triangle-3519.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 2%;
    display: flex;
    
}
.display {
    height: 100vh;
    width: 96%;
    flex-direction: column;
    display: flex;
    margin-right: 1%;
}
.header{
    height: 10%;
    width: 100%;
    display: flex;

justify-content: space-between;
align-items: center;
color: #AAAAAE;
}
.headeritems {
    width: 35%;
    height: 100%;
border: 1px solid black;
background-color: black;
border-radius: 4px;
display: flex;
justify-content: space-evenly;
align-items: center;
opacity: 0.7;
font-size: 24px;
}
.searchitems {
    width: 20%;
    height: 50%;
        display: flex;
        align-items: center;
        
        background-color: white;
        border-radius: 4px;
 
    
}
#Search {
    width: 80%;
    border-radius: 4px;
  height: 90%;
    font-size: 12px;  
    border: 0px;  

}
.search {
    background-color: #5489EF;
    color: aliceblue;
    border-radius: 4px;
    font-size: 12px;
    height: 90%;
    width: 20%;
    border: 0px;
}

.back {
    width: 20%;
    color: #353A40;
}
.back:hover{
    color: #2DC79E;
    cursor: pointer;
}
.item:hover {
    color: #2DC79E;
    cursor: pointer;
}
.support{
    background-color: #353A40;
    width: 4%;
    height: 100Vh;
    text-align: center;
    color: white;

}
.support:hover {
    width: 15%;
}
.title1 {
    color: #D6E3EE;
    position: absolute;
    top: 100px;
    left: 50px;
    
}
.title2 {
    color: #D6E3EE;
    position: absolute;
    top: 100px;
    left: 500px;
}
.title3 {
    color: gray;
    position: absolute;
    top: 100px;
    left: 950px;
}
.content {
    width: 100%;
    height: 90%;
    display: grid;
grid-template-columns: repeat(3,0.5fr);
grid-template-rows: repeat(5,100px);
grid-template-areas: "pic1 pic4 pic9"
                     "pic1 pic5 pic10"
                     "pic1 pic6 pic10"
                     "pic2 pic7 pic11"
                     "pic3 pic8 pic11";
margin-top: 20px;
font-size: 14px;

}
.content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid gainsboro;
    margin: 4px;
    opacity: 0.7;
}
img:hover{
    opacity: 1;
    cursor: pointer;
}
.pic1{
    grid-area: pic1;
}
.pic2{
    grid-area: pic2;
}
.pic3{
    grid-area: pic3;
}
.pic4{
    grid-area: pic4;
}
.pic5{
    grid-area: pic5;
}
.pic6{
    grid-area: pic6;
}
.pic7{
    grid-area: pic7;
}
.pic8{
    grid-area: pic8;
}
.pic9{
    grid-area: pic9;
}
.pic10{
    grid-area: pic10;
}
.pic11{
    grid-area: pic11;
}
a {
    color:  #AAAAAE;
    text-decoration: none;
}
a:hover {
    color: #2DC79E;
    cursor: pointer;
   
}